body {
	background: #212529;
	font-family: 'Lucida Console', monospace;
	margin: 0px;
	padding: 0px;
	margin-top:0;
}

.header {
	padding: 0.25px;
	text-align: center;
	background: #212529;
}

p {
	color: #E9ECEF;
}

h1 {
	color: #E9ECEF;
}

h2 {
	color: #E9ECEF;
}

table, th, td {
	color: #E9ECEF;
	border: 0.5px solid #E9ECEF;
	border-collapse: collapse;
}
